In [1]:
from persiantools.jdatetime import JalaliDate
import pandas as pd
import numpy as np
import time

In [23]:
def check_persian_date_ymd(
    year_persian,
    month_persian,
    day_persian,
):
    try:
        date_persian = year_persian.astype(str) + "-" + month_persian.astype(str) + "-" + day_persian.astype(str)
        date_gregorian = JalaliDate(year_persian, month_persian, day_persian).to_gregorian()
        return date_persian, date_gregorian
    except:
        return pd.NA, pd.NA

x = pd.DataFrame(
    {
        "YEAR_PERSIAN": np.random.randint(1390, 1420, 1000),
        "MONTH_PERSIAN": np.random.randint(1, 13, 1000),
        "DAY_PERSIAN": np.random.randint(1, 32, 1000),
    }
)

cols = ['YEAR_PERSIAN', 'MONTH_PERSIAN', 'DAY_PERSIAN']                        
x[cols] = x[cols].apply(pd.to_numeric, errors='coerce')
x[cols] = x[cols].astype(pd.Int64Dtype())

# s = time.time()
# v = x.apply(
#     lambda x: check_persian_date_ymd(x.YEAR_PERSIAN, x.MONTH_PERSIAN, x.DAY_PERSIAN),
#     axis=1
# )
# e = time.time()
# print(e-s)

s = time.time()
vv = list(np.vectorize(check_persian_date_ymd)(x.YEAR_PERSIAN, x.MONTH_PERSIAN, x.DAY_PERSIAN))
e = time.time()
print(e-s)

10.665839195251465

In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv("/mnt/c/Users/pooya/Desktop/df.csv")
df["YEAR_PERSIAN"] = df["YEAR_PERSIAN"].astype(str).str.zfill(4)
df["MONTH_PERSIAN"] = df["MONTH_PERSIAN"].astype(str).str.zfill(2)
df["DAY_PERSIAN"] = df["DAY_PERSIAN"].astype(str).str.zfill(2)
df["YEAR_GREGORIAN"] = df["YEAR_GREGORIAN"].astype(str).str.zfill(4)
df["MONTH_GREGORIAN"] = df["MONTH_GREGORIAN"].astype(str).str.zfill(2)
df["DAY_GREGORIAN"] = df["DAY_GREGORIAN"].astype(str).str.zfill(2)
df['DATE_GREGORIAN'] = pd.to_datetime(df['DATE_GREGORIAN'])

persian_date_min = df["DATE_PERSIAN"].min().split("-")
persian_date_max = df["DATE_PERSIAN"].max().split("-")        
year = list(range(int(persian_date_min[0]), int(persian_date_max[0]) + 1))
month = list(range(1, 13))        
tmp = pd.DataFrame(
    {
        "YEAR_PERSIAN": np.repeat(year, 12, axis=0),
        "MONTH_PERSIAN": month * len(year)
    }
)        
tmp["YEAR_PERSIAN"] = tmp["YEAR_PERSIAN"].astype(str).str.zfill(4)
tmp["MONTH_PERSIAN"] = tmp["MONTH_PERSIAN"].astype(str).str.zfill(2)

df = pd.merge(left=df, right=tmp, on=["YEAR_PERSIAN", "MONTH_PERSIAN"], how="outer").reset_index(drop=True)

df["MAHDOUDE"] = df["MAHDOUDE"].interpolate(method="pad")
df["AQUIFER"] = df["AQUIFER"].interpolate(method="pad")
df["LOCATION"] = df["LOCATION"].interpolate(method="pad")
df["DAY_PERSIAN"] = df["DAY_PERSIAN"].interpolate(method="pad")

df["YEAR_PERSIAN"] = df["YEAR_PERSIAN"].astype(str).str.zfill(4)
df["MONTH_PERSIAN"] = df["MONTH_PERSIAN"].astype(str).str.zfill(2)
df["DAY_PERSIAN"] = df["DAY_PERSIAN"].astype(str).str.zfill(2)
df['DATE_PERSIAN'] = df["YEAR_PERSIAN"] + "-" + df["MONTH_PERSIAN"] + "-" + df["DAY_PERSIAN"]






df

,MAHDOUDE,AQUIFER,LOCATION,WATER_TABLE,YEAR_PERSIAN,MONTH_PERSIAN,DAY_PERSIAN,DATE_PERSIAN,YEAR_GREGORIAN,MONTH_GREGORIAN,DAY_GREGORIAN,DATE_GREGORIAN,DESCRIPTION
0,ازغند,ازغند,جاده نای,86.91,1398,01,26,1398-01-26,2019,04,15,2019-04-15,NaN
1,ازغند,ازغند,جاده نای,86.97,1398,02,23,1398-02-23,2019,05,13,2019-05-13,NaN
2,ازغند,ازغند,جاده نای,87.11,1398,03,25,1398-03-25,2019,06,15,2019-06-15,NaN
3,ازغند,ازغند,جاده نای,87.23,1398,04,24,1398-04-24,2019,07,15,2019-07-15,NaN
4,ازغند,ازغند,جاده نای,87.40,1398,06,27,1398-06-27,2019,09,18,2019-09-18,A
5,ازغند,ازغند,جاده نای,87.46,1398,07,18,1398-07-18,2019,10,10,2019-10-10,NaN
6,ازغند,ازغند,جاده نای,87.50,1398,08,28,1398-08-28,2019,11,19,2019-11-19,NaN
7,ازغند,ازغند,جاده نای,87.55,1398,09,25,1398-09-25,2019,12,16,2019-12-16,NaN
8,ازغند,ازغند,جاده نای,87.51,1398,10,28,1398-10-28,2020,01,18,2020-01-18,NaN
9,ازغند,ازغند,جاده نای,NaN,1398,11,23,1398-11-23,2020,02,12,2020-02-12,NaN
10,ازغند,ازغند,جاده نای,NaN,1398,12,23,1398-12-23,2020,03,13,2020-03-13,NaN
11,ازغند,ازغند,جاده نای,87.65,1399,01,16,1399-01-16,2020,04,04,2020-04-04,NaN
12,ازغند,ازغند,جاده نای,87.65,1399,02,09,1399-02-09,2020,04,28,2020-04-28,NaN
13,ازغند,ازغند,جاده نای,87.74,1399,03,07,1399-03-07,2020,05,27,2020-05-27,NaN
14,ازغند,ازغند,جاده نای,87.79,1399,04,02,1399-04-02,2020,06,22,2020-06-22,NaN
15,ازغند,ازغند,جاده نای,87.83,1399,05,01,1399-05-01,2020,07,22,2020-07-22,B
16,ازغند,ازغند,جاده نای,87.70,1399,09,15,1399-09-15,2020,12,05,2020-12-05,NaN
17,ازغند,ازغند,جاده نای,87.75,1399,11,30,1399-11-30,2021,02,18,2021-02-18,NaN
18,ازغند,ازغند,جاده نای,87.62,1399,12,05,1399-12-05,2021,02,23,2021-02-23,NaN
19,ازغند,ازغند,جاده نای,87.64,1400,01,05,1400-01-05,2021,03,25,2021-03-25,NaN
20,ازغند,ازغند,جاده نای,87.80,1400,02,13,1400-02-13,2021,05,03,2021-05-03,NaN
21,ازغند,ازغند,جاده نای,87.88,1400,03,17,1400-03-17,2021,06,07,2021-06-07,NaN
22,ازغند,ازغند,جاده نای,87.96,1400,04,14,1400-04-14,2021,07,05,2021-07-05,NaN
23,ازغند,ازغند,جاده نای,88.06,1400,05,16,1400-05-16,2021,08,07,2021-08-07,NaN
24,ازغند,ازغند,جاده نای,88.14,1400,06,14,1400-06-14,2021,09,05,2021-09-05,NaN
25,ازغند,ازغند,جاده نای,88.23,1400,07,19,1400-07-19,2021,10,11,2021-10-11,NaN
26,ازغند,ازغند,جاده نای,NaN,1398,05,19,1398-05-19,NaN,NaN,NaN,NaT,NaN
27,ازغند,ازغند,جاده نای,NaN,1399,06,19,1399-06-19,NaN,NaN,NaN,NaT,NaN
28,ازغند,ازغند,جاده نای,NaN,1399,07,19,1399-07-19,NaN,NaN,NaN,NaT,NaN
29,ازغند,ازغند,جاده نای,NaN,1399,08,19,1399-08-19,NaN,NaN,NaN,NaT,NaN
30,ازغند,ازغند,جاده نای,NaN,1399,10,19,1399-10-19,NaN,NaN,NaN,NaT,NaN
31,ازغند,ازغند,جاده نای,NaN,1400,08,19,1400-08-19,NaN,NaN,NaN,NaT,NaN
32,ازغند,ازغند,جاده نای,NaN,1400,09,19,1400-09-19,NaN,NaN,NaN,NaT,NaN
33,ازغند,ازغند,جاده نای,NaN,1400,10,19,1400-10-19,NaN,NaN,NaN,NaT,NaN
34,ازغند,ازغند,جاده نای,NaN,1400,11,19,1400-11-19,NaN,NaN,NaN,NaT,NaN
35,ازغند,ازغند,جاده نای,NaN,1400,12,19,1400-12-19,NaN,NaN,NaN,NaT,NaN

In [26]:
import pandas as pd


df1 = pd.DataFrame(
    {
        "YEAR": [1399, 1399, 1399, 1399, 1399, 1399],
        "MONTH": [1, 3, 5, 7, 9, 11],
        "DAY": [5, 15, 15, 15, 15, 15],
    }
)

df2 = pd.DataFrame(
    {
        "YEAR": [1399, 1399, 1399, 1399, 1399, 1399, 1399, 1399, 1399, 1399, 1399, 1399],
        "MONTH": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
        "DAY": [5, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 20],
        "VALUE": [110, 140, 130, 130, 140, 120, 150, 140, 130, 120, 110, 100],
    }
)

df1.merge(df2, on=["YEAR", "MONTH", "DAY"], how="left")

   YEAR  MONTH  DAY  VALUE
0  1399      1    5    110
1  1399      3   15    130
2  1399      5   15    140
3  1399      7   15    150
4  1399      9   15    130
5  1399     11   15    110

In [19]:
df = pd.concat([df1,df2])\
    .drop_duplicates(subset=["YEAR", "MONTH", "DAY"], keep="first").\
        sort_values(by=["YEAR", "MONTH", "DAY"]).\
            reset_index(drop=True)


df["VALUE"] = df["VALUE"].interpolate(method="linear")

print(df)

    YEAR  MONTH  DAY      VALUE
0   1399      1    1  11.000000
1   1399      1   15  12.500000
2   1399      2   15  14.000000
3   1399      3   15  13.500000
4   1399      3   30  13.000000
5   1399      4   15  13.500000
6   1399      5   15  13.850000
7   1399      5   30  14.200000
8   1399      6   15  13.200000
9   1399      6   22  12.200000
10  1399      7   11  15.100000
11  1399      7   15  14.800000
12  1399      8    1  14.500000
13  1399      8   15  13.850000
14  1399      9   14  13.200000
15  1399      9   15  12.833333
16  1399     10   15  12.466667
17  1399     10   29  12.100000
18  1399     11   14  11.200000
19  1399     11   15  10.833333
20  1399     12   15  10.466667
21  1399     12   20  10.100000

In [3]:
import pandas as pd


A = pd.DataFrame(
    {
        "AA": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
        "BB": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    }
)

B = pd.DataFrame(
    {
        "AA": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
        "CC": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    }
)

pd.concat([A, B])

   AA    BB    CC
0   1   1.0   NaN
1   2   2.0   NaN
2   3   3.0   NaN
3   4   4.0   NaN
4   5   5.0   NaN
5   6   6.0   NaN
6   7   7.0   NaN
7   8   8.0   NaN
8   9   9.0   NaN
9  10  10.0   NaN
0   1   NaN   1.0
1   2   NaN   2.0
2   3   NaN   3.0
3   4   NaN   4.0
4   5   NaN   5.0
5   6   NaN   6.0
6   7   NaN   7.0
7   8   NaN   8.0
8   9   NaN   9.0
9  10   NaN  10.0